.footer-brand{
	.custom-logo-link{
		display: block;
		width: 100%;
		overflow: hidden;

		padding: 2.1rem; 
		img{@include img-responsive();}
	}
} 


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	// color: #fff;
    text-transform: uppercase; 
}


img.aligncenter{
	@include img-responsive(); 
	display: block;
	margin-left: auto;
	margin-right: auto;


}

p { margin: 0 0 ($line-height-computed / 1.1); }


// Form Stuff
	.form-control{
		border-top-color: transparent ;
		border-right-color: transparent ;
		border-left-color: transparent ;
		box-shadow: none;
		// border-width: 2px;
	}
	 
	textarea.form-control{
		border-top-color: initial ;
		border-right-color: initial ;
		border-left-color: initial ;
		box-shadow: initial;
	}

	.gfield_label{
		font-weight: map-get($font-weight, regular);
	}

//Custom List Stuff
ul.list-check{
	// @include fa-list-icon($faIcon: f00c, $faIcon-left: -1.4, $fa-color: inherit)
	@include fa-list-icon(f05d, -1.4, #bd2031);
} 

//

// heading repsonsive font size
// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {

// }

h1, .h1{

	$h1-fz: (
		default : $font-size-h3,
		small   : $font-size-h3,
		medium  : $font-size-h2,
		large   : $font-size-h1
	);

	@include font-size($h1-fz);

}

h2, .h2{

	$h2-fz: (
		default : $font-size-h4,
		small   : $font-size-h3,
		medium  : $font-size-h3,
		large   : $font-size-h2
	);

	@include font-size($h2-fz);

}

iframe{
	max-width: 100%;
}