.btn-default{
	background-image: linear-gradient(to bottom, $brand-alt-1 0%, #b3282d 100%);
	border-color: $brand-alt-1; 

	&:hover {
		background-image: linear-gradient(to bottom, $brand-alt-1 0%, lighten(#b3282d, 5% ) 100%);
	}
}

.btn-link{
	color: $link-color !important;
}