// Default Page Banner
.feature-banner{
    position: relative; 
    overflow: hidden;
    // z-index: -1; 
    max-height: 300px;
    
   .image-cont img{
    	width: 100%; 
		object-fit: cover;
		object-position: 50% 50%;
    }


    .body-cont{
    	// layout
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -30%);
		// Style


        @include breakpoint($screen-sm-min){
            display: block;
    		padding: 1.0rem 6.0rem;
        }

        @include breakpoint($screen-lg-min){
            padding: 2.4rem 12.0rem;
        }


		h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
			color: #fff;
            text-transform: uppercase;
		}
    }

}

// Home Page Feature Image ~ Larger than the default
.home .feature-banner{
    max-height: 675px;

    .body-cont{
        @include breakpoint($screen-sm-min){
            display: block;
            padding: 1.0rem 1.0rem;
        }

        @include breakpoint($screen-lg-min){
            padding: 2.4rem 4.5rem;
        }        
    }


    .feature-se-cont{
        display: none;

        @include breakpoint($screen-md-min){
            // Layout
            position: absolute;
            //z-index: 99;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -20%);
            max-width: 1200px;
            width: 75vw;  

            // Flex
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            
            // Design
            padding: gutter();  
            background-color: rgba(#fff, 0.75);
            border: solid 2px #fff;
            border-radius: $border-radius-large;

        }

        @include breakpoint($screen-md-min){transform: translate(-50%, -35%); }
        @include breakpoint($screen-lg-min){transform: translate(-50%, -50%); }


  
        .col{
            // @include myoutline(red);
            background-color: #fff;
            flex: 0 1 span(6);
        } 

        img{
            width: 100%;
            object-fit: cover;
            max-height: 300px;
        }

    }
}


// Home page CTA copy overlay on featured image
.cta-charlie{
    // @include myoutline(red);
    text-align: center;
    color: #fff;
    font-size: $font-size-large;
    // min-width: 50%;


    h2{
        font-weight: map-get($font-weight, extra-bold);
        // font-size: $font-size-h1;
    }


} 