.site-footer{
	color: #fff;


	// Social Media List
	.lg-social-media{
		@include list-unstyled;
		margin-left: -5px;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	// Nav
	.nav-footer ul{
		@include list-unstyled;
		li{
			margin-bottom: gutter();
		}
	}

	// Heading Styles
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		color: #fff;
	}

}

