.gallery {
	margin-bottom: gutter();
	display: flex;
	justify-content: flex-between;
	flex-wrap: wrap;
	align-items: center;
}

.gallery-item {

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			width: susy-span(12);
			padding: gutter() / 2;
			overflow: hidden;

			@include breakpoint($screen-sm-min){
				width: susy-span(12 / $i);
			}


		}
	}

	img{ 
		height: 250px;
		min-width: 100%;
		object-fit: cover;
		object-position: center;
	}

	.gallery-icon{
		overflow: hidden;
		// border: solid 1px $gray-light;
	}
 
}

.gallery-caption {
	display: block;
}
 