#masthead{
    position: absolute;
    top: 72px;
    left: 0;
    z-index: 1;
    // overflow: hidden; 
    width: 100%; 

    @include breakpoint($screen-md-min){
	    top: 45px;
    }

}


.site-branding{

	.custom-logo-link{
		padding: 1.8rem;
		max-width: 250px; 
		display: block;
		height: 90px; 
		img{@include img-responsive();}
	}

}  

// Nav bar
.navbar-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

	// Logo thing
	a.custom-logo-link{
		width: susy-span(6);
		display: block; 
		order: -1;
		padding: 2.1rem;

		@include breakpoint($screen-sm-min){
			display: none;
		}

		// Image logo
		img{@include img-responsive();}



	}

	// need for flexbox alignment
	.navbar-toggle-container{
		width: susy-span(6);
	}

	ul#nav{
		background-color: $gray-darker; 
	}
}

.main-navigation{
	
	ul.nav{
		background-color: $gray-base;
	} 

}


// not sure why this is here
.circular--landscape {
	width         : 250px;
	height        : 250px;
	position      : relative;
	overflow      : hidden;
	border-radius : 50%;
	border        : solid 1px $gray-lighter;
	margin-left   : auto;
	margin-right  : auto;


	img {
		display: inline;
		margin: 0 auto;
		height: 100%; 
		width: auto;
	}
}