.hms-testimonial-group{

	.hms-testimonial-container {
		@extend .well;
		border-radius: 0;
		background-color: lighten($gray-light, 50%); 

		.testimonial{
			margin-bottom: 12px;
			background-color: rgba(#fff, 0.5);
			padding: 12px;
		}

		.author{
			text-align: left;
			font-weight: map-get($font-weight, bold);
		} 
	}
}  


