#utility-bar{
		
	a{
		color:  $link-color;
		&:hover,
		&:focus {
			color: $link-hover-color;
			text-decoration: $link-hover-decoration;
		}
	}


	// Social Media List
	.lg-social-media{
		@include list-unstyled;
		margin-left: -5px;
		margin-bottom: 0;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}

		.fa{
			font-size: $font-size-large;
		}


	}

	// phone and location
	.ub-phone{

		span.text-white{
			color: #fff;
		}
	}

} 