.contact-page{
	
	.address-card{
		// @include myoutline(red);

		address{
			width: susy-span(12);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: auto;
			margin-right: auto;

			@include breakpoint($screen-sm-min){
				flex-direction: row; 
				width: susy-span(9);
			}

			@include breakpoint($screen-md-min){
				width: susy-span(6);
			}

			div{
				padding: 1.0rem;
				width: susy-span(12); 

				@include breakpoint($screen-sm-min){
					width: susy-span(6); 
				}
			}
		} 
	} 
}

 