.home{

	.body-copy{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;

		@include breakpoint($screen-sm-min){
			flex-direction: row;
		}
	}

	.fp-copy{
		// @include myoutline(red);
		width: susy-span(12);
		padding: 5.0rem;

		@include breakpoint($screen-sm-min){
			width: susy-span(6);
		}

		h1{ margin-top: -1.4rem; } // Shamefully did this, sorry -- Jason.
	} 

	.fp-image{
		// @include myoutline(red);
		width: susy-span(12);
		overflow: hidden;
		// padding: 5.0rem;
		display: flex;
		justify-content: center;
		height: 400px;

		@include breakpoint($screen-sm-min){
			width: susy-span(6);
		}

		img{
			object-fit: cover;
			object-position: center;
		}
	}

	#home-full-cta{
		.body{
			text-align: center;
			padding: 5.0rem;
		}
	}

	.logo-notype{
		max-width: 200px;
	}

}


#service-highlight{
	.caption h2{
		font-weight: map-get($font-weight, bold);
	}
}

.logo-notype{
	// this need improvement
	svg > g > g > path{  
		@include myoutline(red);
		display: none;
	}
}
  

#feature-se-mobile{

	background: lighten($brand-alt, 20%);

	&:first-child .col{
		padding-top: gutter();
		img{
			max-height: 200px;
			max-width: 100%;
			object-fit: contain;
			display: block;
			margin-left: auto;
			margin-right: auto;  
		}
	}

	@include breakpoint($screen-md-min){
		display: none;
	}

}