.locations{

	.building{

		// Location Heading
		h2{
			$locations-fz: (
				default : $font-size-h4,
				small   : $font-size-h4,
				medium  : $font-size-h4,
				large   : $font-size-h3
			);

			text-align: center;
			color: $link-color;
			@include font-size($locations-fz);
			padding: $font-size-base;
		}

		// Google Map 
		.google-map{
			border: solid 1px $gray-lighter;
		}
	}
 
} 

