.offices .building{

	& > h2{
		text-align: center;
		padding: 4.0rem;
	}
		
	.office-list{
		.page{ display:none; }
	}

	.pagination{
		a{
			&:focus{ background-color: transparent; }
			
			&.active{
				background-color: $link-color;
				color:#fff;
			}
		}
	}

}

.offices-pop-up{
	width:100%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	display:none;
	background-color:rgba(0,0,0,0.42);
	z-index:99;
	>div{
		width:100%;
		height:100%;
		display:flex;
		justify-content:center;
		align-items:center;
		>div{
			display:flex;
			flex-direction:column;
			width:95%;
			max-width:800px;
			padding:5px;
			background-color:#fff;
			@include breakpoint($screen-sm-min){
				flex-direction:row;
			}
			>div{
				width:100%;
				padding:10px;
				@include breakpoint($screen-sm-min){
					width: 50%;
					padding:15px;
				}
			}
			.left{
				img{
					width:100%;
					display:block;
				}
				.details{
					margin-top:20px;
					p{
						@media only screen and (max-width: 320px) {
							font-size: 14px;
	    					margin: 0;
						}
					}
					span{
						text-transform:uppercase;
					}
				}
			}
			.right{
				.gform_wrapper{
					margin:0 !important;
					padding:0 !important;
					.gfield_label{
						display:none;
					}
					input[type='text'], textarea{
						width:100%;
						padding:10px !important;
					}  
					#field_1_3{
						margin-top:0 !important;
					}
					.ginput_container{
						margin-top:0;
					}
					.gform_footer{
						display:flex;
						margin:0;
						padding:0;
						margin-top:10px;
						input{
							margin:0 !important;
							width:50%;
						}
						.gform_button{
							padding: 5px !important;
    						margin: 5px !important;
						}
					}
				}
			}
		}
	}
}


// Design
.single-office{
	// @include myoutline(red);
	text-align: center;
	position: relative;
	min-height: 555px; 
	overflow: hidden;
	font-size: $font-size-small;
	background-color: #fff;

	// some reset
	.thumbnail{
		padding: 0;
		border-width: 0;
	}

	// Office Title
	h3{
		text-align: center;
		color: $brand-alt-1;
		font-size: $font-size-h4;
		font-weight: map-get($font-weight, medium);
	}

	.img-cont{
		position: relative;
		height: 200px;
		width: 100%;

		img{
			width: 100%;
			height: 200px;
			object-postion: center;
		}
	}

	.leased-out{
		display: block;
		background-color: $brand-alt-1;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		font-weight: map-get($font-weight, regular);

		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0.75rem;
	}

	ul{
		@extend .list-unstyled;
		text-align: center;

		li{
			margin-bottom: 1.4rem;
			padding: 0 1.4rem;
		}
	}

	.features{
		min-height: 95px;
		li{}
	}

	.rates{
		li{ margin-bottom: 0; }
	}

	.description{
		// li{ margin-bottom: 0; }
	}

	hr{ border-width: 3px; }

	a.btn{
		position: absolute;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%);
	}
}

// Pagination
nav[aria-label="Page navigation"]{
	text-align: center;
}