.registration-forms, .pricing-forms{

	h2{
		font-weight: map-get($font-weight, regular);
	}


	ul{
		// @include myoutline(green);
		@include list-unstyled;
		width: susy-span(6); 
		margin-left: auto;
		margin-right: auto;

		li{
			display: flex;
			align-items: center;
			padding:0 0 $font-size-base 0; 
		}

		.fa{
			padding-right: 1.0rem;
			color: $link-color;
		}
	}
}  

.registration-forms{
	ul{
		li{
			display: block;
			text-align: center;

			.buttons{
				margin-top: 15px;
				a{
					margin: 0 15px;
				}
				.fa{
					padding-right: 0;
				}
			}
		}
	}
}