.virtual-packages{
	// @include myoutline(red);

	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	@include breakpoint(max-width $screen-sm-min){
		padding-left: $font-size-base;
		padding-right: $font-size-base;
	}

	.vp-content{


		ul{
			// @include myoutline(red);
			@extend .list-check;
			margin-bottom: 4.1rem;
			li{ 
				margin-bottom: 1.1rem; 
				&:before{
				    font-weight: map-get($font-weight, bold);
				    font-size: $font-size-h4;
				}
			}
		}
	}
}

.virtual-packages-banner{
	.feature-banner{
		max-width: 600px;
		margin:auto auto;
	}
	.bg-bravo{
		// padding: 20px 0;
		background-color:#004750;
		background-image: none;
		overflow: auto;
		padding: 12px 15px 0 12px;

		.cta-charlie{
			$cta-fz:(
				default : 14px,
				small   : 20px,
				medium  : 20px,
				large   : 20px
			);
			@include font-size($cta-fz);
		}
	}
	h2{
		color:#fff;

		@extend .h3;
		font-weight: 600;
	}
}