// General Helpers
.container{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	@include breakpoint(max-width $screen-sm-min){
		padding-left: $font-size-base;
		padding-right: $font-size-base;
	}

}

// Site Content
.site-content{
	width: susy-span(12);

	.body-copy{
		padding: 0 gutter(); 
	}
}

// Site Header
.site-header{
	// @include myoutline($gray-lighter);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 gutter() / 2; 
	 
	.site-branding{
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(3);
		}
	}

	.main-navigation{
		width: susy-span(12); 

		@include breakpoint($screen-sm-min){
			width: susy-span(9); 
		}
	}
}

// Site Footer 
.site-footer{

	#site-footer{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start; 
		flex-wrap: wrap;
		padding: 0 gutter();

		.footer-brand{
			width: susy-span(12);
			margin-bottom: gutter(); 
			margin-top: gutter();
			padding: 0 gutter() 0 gutter();

			@include breakpoint($screen-sm-min){
				width: susy-span(6);	
			}

			@include breakpoint($screen-lg-min){
				width: susy-span(4);	
				padding-right: susy-span(1); 
			} 

		} 

		.nav-footer{
			width: susy-span(12);
			margin-bottom: gutter(); 
			margin-top: gutter() * 2;
			padding: 0 gutter() 0 gutter();


			@include breakpoint($screen-sm-min){
				width: susy-span(6);	
			}


			@include breakpoint($screen-lg-min){
				width: susy-span(2);	
			}
		} 
		

		//  Social media
		.blog-feed{ 
			width: susy-span(12);
			margin-bottom: gutter(); 
			margin-top: gutter() * 2;
			padding: 0 gutter() 0 gutter();


			@include breakpoint($screen-sm-min){
				order: -1;
			}

			@include breakpoint($screen-lg-min){
				order: initial;
				width: susy-span(3);
			}
		}

		//  contact us
		.footer-utility{
			width: susy-span(12); 
			margin-bottom: gutter(); 
			margin-top: gutter() * 2;
			padding: 0 gutter() 0 gutter();

			@include breakpoint($screen-sm-min){
				width: susy-span(6);	
			}

			@include breakpoint($screen-lg-min){
				width: susy-span(3);	
			}			 
		}
	}

	#site-legal{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		
		.site-info{
			width: susy-span(12);
			text-align: center;

			@include breakpoint($screen-xs-min){
				width: susy-span(6);
				text-align: left;
			}
		}

		.site-longevity{
			width: susy-span(12);
			text-align: center;


			@include breakpoint($screen-xs-min){
				width: susy-span(6);
				text-align: right;
			}
		}
	}

}
