#concierge-service{

	.flex-container{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: gutter();

		@include breakpoint($screen-lg-min){
			padding: 0;
		}		
	}

	.thumbnail{
		width: 100%;

		@include breakpoint($screen-sm-min){
			width: 48%;
			margin: 1%;
		}

		@include breakpoint($screen-md-min){
			width: 23%;
			margin: 1%;
		}
	}


	// Styling
	a.h2{
		color: $brand-alt;
		font-weight: map-get($font-weight, bold);
		font-size: $font-size-large;
	} 

	hr{ border-top-width: 2px; }

}