.locations{

	.building{
	}

	.split-content{
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap:wrap;
		padding: 0 gutter();

		.google-map{
			@extend .embed-responsive;
			// @extend .embed-responsive-4by3;
			height: 450px;
			order: 99;
			width: susy-span(12);
			overflow: hidden;
			iframe{ @extend .embed-responsive-item; }

			@include breakpoint($screen-sm-min){
				width: susy-span(6);
			}
		}

		.copy{ 
			order: -1; 
			width: susy-span(12);

			@include breakpoint($screen-sm-min){
				width: susy-span(6);
			}
		}
	}
 
} 
