main .offices{
	@extend .container; 
}

.office-list{

	.page > div{
		// @include myoutline(red);
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		flex-wrap:wrap;
		padding: 0 gutter();
	}


	.single-office{
		// @include myoutline(red);
		width: 100%;
		padding: 0;
		margin-bottom: gutter(); 

		// &:last-child{ margin-left: gutter(); }

		@include breakpoint($screen-sm-min){
			width: 48%;
			margin: 1%;
		}

		@include breakpoint($screen-md-min){
			width: 31.33%;
			margin: 1%;
		}
	}
}  