#service-highlight{

	.container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: gutter();

		@include breakpoint($screen-lg-min){
			padding: 0;
		}
	}


	.thumbnail{
		width: susy-span(12);

		@include breakpoint($screen-sm-min){
			width: susy-span(6);
		}

		@include breakpoint($screen-md-min){
			width: susy-span(4);
		}
	}

}