#utility-bar{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start; 
	flex-wrap: wrap;
	padding: 1rem gutter();

	.ub-social{
		width: susy-span(12);
		text-align: center;

		@include breakpoint($screen-md-min){ 
			text-align: right;
			width: susy-span(5); 
		}
	}


	.ub-phone{
		width: susy-span(12);
		text-align: center;
		margin-bottom: gutter();


		@include breakpoint($screen-md-min){ 
			width: susy-span(7); 
			text-align: left;
			margin-bottom: 0;
		}
	}

}